certifi==2026.1.4
charset-normalizer==2.1.1
cssselect==1.2.0
cx_Freeze==8.5.3
filelock==3.20.3
freeze-core==0.5.0
idna==3.11
lxml==6.0.2
packaging==25.0
patchelf==0.17.2.4
Pillow==9.3.0
pyparsing==3.3.1
requests==2.28.1
setuptools==80.9.0
ua-parser==0.16.1
urllib3==1.26.20
